.hover-underline {
  position: relative; /* Permite o uso de ::after para o underline */
  cursor: pointer;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px; /* Distância do underline em relação ao texto */
  left: 0;
  background-color: #42A5F5; /* Cor do underline */
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%; /* O underline preenche a largura total do texto ao passar o mouse */
}
